.login-container{
  min-height: 100vh;
  background-image: url(/assets/images/bg-login.jpg);
  background-size: cover;
}
.login-container::after {
  content: '';
  width: 100%;
  height: 100vh;
  background-image: url(/assets/images/bg-login.jpg);
  filter: blur(54px);
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: 0;
}
.login-form{
  position: relative;
  text-align: center;
  padding: 100px 0px;
  z-index: 1;
}
.login-form-logo{
  border: 1px solid #cecece;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 180px;
  margin: 25px auto;
}
.login-form-logo i{
  font-size: 50px;
  color: #fff;
}
.login-form-title{
  font-family:  'Open Sans',-apple-system,sans-serif;
  font-weight: 600;
  color: #fff;
}
.login-form-title small{
  display: block;
  font-family:  'Open Sans',-apple-system,sans-serif;
  font-weight: 100;
}
.login-form-btn{
  background-color: var(--blue)!important;
}