.header-container{
  background-color: #018001; /* Verde Botella */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 20px;
}
.header-title,
.header-image{
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  margin-right: 40px;
}
.header-title{
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  margin-left: 45px;
}
.header-title small{
  display: block;
}