.navbar-top{
    background-color: transparent;
    padding: 2px 0px;
}
.navbar-down{
    background-color: #000;
    padding: 2px 0px;
}
.navbar-down img,
.navbar-top img{
    width: 50px;
    height: 50px;
}

.active-navbar{
    border-bottom: 3px solid #ffcf10;
    padding: 8px 0px;
}
@media (min-width: 960px){
    .navbar-top{
        padding: 10px 0px;
    }
    .navbar-top img{
        width: 80px;
        height: 80px;
    }
    .navbar-down img{
        width: 60px;
        height: 60px;
    }
}