.Nav-container{
  padding: 30px 0px 0px 0px;
}
.Nav-menu-list{
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.Nav-menu-list li a{
  display: block;
  position: relative;
  padding: 12px 40px;
  text-decoration: none;
  color: #6200ee!important;
  font-weight: 500;
}
.active-menu{
  background: #ececec!important;
  color: #000000!important;
}
.Nav-user{
  padding: 25px 0px;
  text-align: center;
  overflow: hidden;
}
.Nav-user i{
  color: #242f24!important;
  font-size: 100px;
  border-radius: 50%;
  user-select: none;
  outline: none;
}
.Nav-user-button{
  display: block;
  color: #fff!important;
  outline: none;
  margin: 0 auto;
}