.TopNav-user{
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
}
.TopNav-user small{
  display: block;
  font-size: 12px;
}
.TopNav-modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.18);
  z-index: 4;
}
.TopNav-modal ul{
  position: absolute;
  top: 20px;
  right: 60px;
  background: #ffffff;
}
.TopNav-modal li{
  padding: 0px;
}
.TopNav-link{
  cursor: pointer;
  padding: 0px 40px;
}
.TopNav-link:hover,
.TopNav-link:active
{
  text-decoration: none;
  user-select: none;
  outline: none;
}
.TopNav-link i,
.TopNav-link span{
  vertical-align: middle;
}